.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.listDitailsContainer {
  padding: 0;
  margin: 0;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.image {
  display: block;
  width: 310px;
  height: 220px;
  object-fit: contain;
  filter: drop-shadow(5px 15px 15px rgb(17, 9, 16));
}
.title {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  margin: 0 0 5px 0;
}
.movieDescription {
  font-size: 16px;
  font-weight: 400;
  color: #ececec;
  line-height: 1.5;
  letter-spacing: 0.03em;
  margin: 0 0 10px 0;
}
.subtitle {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
}
.listStyle {
  list-style-type: none;
}
.list {
  display: flex;
  gap: 6px;
  font-size: 16px;
  font-weight: 400;
  color: #ececec;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.year {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  margin-left: 8px;
}
.link {
  font-size: 18px;
  font-weight: 400;
  color: #ececec;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}
.infoMovie {
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
}
.infoLink {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.buttonBack {
  width: max-content;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: #ececec;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  padding: 2px 5px;
  border: 1px solid #b4b1b3;
  border-radius: 3px;
  filter: drop-shadow(5px 5px 5px rgb(17, 9, 16));
}
.icon {
  width: 16px;
  height: 16px;
  fill: #fff;
}
.buttonBack:hover {
  color: #000;
  background-color: #b8b8b8;
}
.buttonBack:hover .icon {
  fill: #000;
}
hr {
  margin: 18px 0;
}
